@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-style: italic;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "SpecialFont_regular";
  src: url("../../public/assets/fonts/WarsawGothic/WarsawGothic.otf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@-webkit-keyframes openHeaderMobile {
  0% {
    height: 50px;
  }
  100% {
    height: 200px;
  }
}
@keyframes openHeaderMobile {
  0% {
    height: 50px;
  }
  100% {
    height: 200px;
  }
}
@-webkit-keyframes openHeaderMobileMax {
  0% {
    height: 50px;
  }
  100% {
    height: 150px;
  }
}
@keyframes openHeaderMobileMax {
  0% {
    height: 50px;
  }
  100% {
    height: 150px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes closeHeaderMobile {
  0% {
    height: 200px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeaderMobile {
  0% {
    height: 200px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes closeHeaderMobileMax {
  0% {
    height: 150px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeaderMobileMax {
  0% {
    height: 150px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@-webkit-keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
    display: flex;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    display: flex;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@-webkit-keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@-webkit-keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@-webkit-keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@-webkit-keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes focusShow {
  0% {
    zoom: 100%;
    overflow: hidden;
  }
  100% {
    zoom: 200%;
    overflow: hidden;
  }
}
@keyframes focusShow {
  0% {
    zoom: 100%;
    overflow: hidden;
  }
  100% {
    zoom: 200%;
    overflow: hidden;
  }
}
@-webkit-keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes openCollapseArrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapseArrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    max-height: 2000px;
    opacity: 1;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    max-height: 2000px;
    opacity: 1;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
.actualite {
  -webkit-animation: pageAppearing 2s ease forwards;
          animation: pageAppearing 2s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 54px;
}
.actualite_show, .actualite_residency {
  margin: 0 auto 54px auto;
  padding: 0 6%;
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show, .actualite_residency {
    width: 75%;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show, .actualite_residency {
    width: 100%;
  }
}
.actualite_show_titleContainer, .actualite_residency_titleContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.actualite_show_titleContainer a, .actualite_residency_titleContainer a {
  text-decoration: none;
  color: #232323;
}
.actualite_show_titleContainer_title, .actualite_residency_titleContainer_title {
  font-family: "SpecialFont_regular";
  margin: 0;
  justify-content: flex-end;
  font-size: 98px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_titleContainer_title, .actualite_residency_titleContainer_title {
    font-size: 81px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_titleContainer_title, .actualite_residency_titleContainer_title {
    font-size: 60px;
  }
}
.actualite_show_titleContainer_title:hover, .actualite_residency_titleContainer_title:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 0px #fea201) drop-shadow(-3px -3px 0px #019cff);
}
.actualite_show_titleContainer_type, .actualite_residency_titleContainer_type {
  font-family: "MainFont_light";
  font-style: italic;
  margin: 0;
  font-size: 19px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_titleContainer_type, .actualite_residency_titleContainer_type {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_titleContainer_type, .actualite_residency_titleContainer_type {
    font-size: 14px;
  }
}
.actualite_show_precision, .actualite_residency_precision {
  font-family: "MainFont_light";
  text-transform: uppercase;
  font-weight: bold;
  color: #E9E9E9;
  font-size: 19px;
  margin: 16px 0 0 0;
  padding-left: 9px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_precision, .actualite_residency_precision {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_precision, .actualite_residency_precision {
    font-size: 14px;
  }
}
.actualite_show_datesContainer, .actualite_residency_datesContainer {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.actualite_show_datesContainer_item, .actualite_residency_datesContainer_item {
  margin: 16px 0;
}
.actualite_show_datesContainer_item_placeName, .actualite_residency_datesContainer_item_placeName {
  font-size: 19px;
  font-weight: bold;
  font-family: "MainFont_light";
  text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_placeName, .actualite_residency_datesContainer_item_placeName {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_placeName, .actualite_residency_datesContainer_item_placeName {
    font-size: 14px;
  }
}
.actualite_show_datesContainer_item_placeName_link, .actualite_residency_datesContainer_item_placeName_link {
  color: #232323;
  text-decoration: none;
  margin: 0;
}
.actualite_show_datesContainer_item_placeName_link:hover, .actualite_residency_datesContainer_item_placeName_link:hover {
  color: #00f0ff;
}
.actualite_show_datesContainer_item_placeName_link_icon, .actualite_residency_datesContainer_item_placeName_link_icon {
  height: 16px;
  padding-bottom: 3px;
  margin: 0 9px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_placeName_link_icon, .actualite_residency_datesContainer_item_placeName_link_icon {
    height: 14px;
    padding-bottom: 1px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_placeName_link_icon, .actualite_residency_datesContainer_item_placeName_link_icon {
    height: 12px;
    padding-bottom: 2px;
  }
}
.actualite_show_datesContainer_item_placeName_noLink, .actualite_residency_datesContainer_item_placeName_noLink {
  margin: 0;
}
.actualite_show_datesContainer_item_showCity, .actualite_residency_datesContainer_item_showCity {
  font-family: "MainFont_light";
  font-size: 19px;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_showCity, .actualite_residency_datesContainer_item_showCity {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_showCity, .actualite_residency_datesContainer_item_showCity {
    font-size: 14px;
  }
}
.actualite_show_datesContainer_item_dates, .actualite_residency_datesContainer_item_dates {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.actualite_show_datesContainer_item_dates_singleDate, .actualite_residency_datesContainer_item_dates_singleDate {
  display: flex;
  flex-direction: row;
}
.actualite_show_datesContainer_item_dates_singleDate_day, .actualite_residency_datesContainer_item_dates_singleDate_day {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 19px;
  font-family: "MainFont_light";
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #232323;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_dates_singleDate_day, .actualite_residency_datesContainer_item_dates_singleDate_day {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_dates_singleDate_day, .actualite_residency_datesContainer_item_dates_singleDate_day {
    font-size: 14px;
  }
}
.actualite_show_datesContainer_item_dates_singleDate_residencyDay, .actualite_residency_datesContainer_item_dates_singleDate_residencyDay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 19px;
  font-family: "MainFont_light";
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  color: #232323;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_dates_singleDate_residencyDay, .actualite_residency_datesContainer_item_dates_singleDate_residencyDay {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_dates_singleDate_residencyDay, .actualite_residency_datesContainer_item_dates_singleDate_residencyDay {
    font-size: 14px;
  }
}
.actualite_show_datesContainer_item_dates_singleDate_time, .actualite_residency_datesContainer_item_dates_singleDate_time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 19px;
  font-family: "MainFont_light";
  margin: 0 19px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_dates_singleDate_time, .actualite_residency_datesContainer_item_dates_singleDate_time {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_dates_singleDate_time, .actualite_residency_datesContainer_item_dates_singleDate_time {
    font-size: 14px;
  }
}
.actualite_show_datesContainer_item_residencyType, .actualite_residency_datesContainer_item_residencyType {
  margin: 0;
  font-family: "MainFont_light";
  font-style: italic;
  font-size: 19px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_datesContainer_item_residencyType, .actualite_residency_datesContainer_item_residencyType {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_datesContainer_item_residencyType, .actualite_residency_datesContainer_item_residencyType {
    font-size: 14px;
  }
}
.actualite_show_description, .actualite_residency_description {
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
  width: 100%;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .actualite_show_description, .actualite_residency_description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .actualite_show_description, .actualite_residency_description {
    font-size: 13px;
  }
}
.actualite_show_img, .actualite_residency_img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.actualite_show_precision {
  background-color: #fea201;
}
.actualite_residency_precision {
  background-color: #ff00ff;
}/*# sourceMappingURL=Actualite.css.map */