@import '../../utils/mixins';

.oneSpectacle {

    &_parallaxContainer {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1.7 / 1;
        width: 100vw;
        z-index: 2;
      
        &_parallax {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 130%;
            object-fit: cover;
            object-position: center;
            will-change: transform;
            transform: translateY(0);
            display: block;
            
        }
      
        @media (max-width: $mobileMaxWidth) {
          aspect-ratio: 1 / 1;
        }
      }
    }