@import '../../utils/mixins';

.projectForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 9px;
    width: 80%;
    overflow: scroll;
    margin: auto;
    background-color: white;

    &_stickyCancelButton {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        color: $colorDarkGrey;
        background: none;
        border: none;
        position: sticky;
        top: 80px;
        left: 60px;
        z-index: 100;
        
        &_icon {
            height: 2em;
            margin-right: 15px;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    &_projectImageField {
        display: flex;
        flex-direction: column;
        row-gap: 98px;
        width: 80%;
        margin: 54px auto;
        &_imageFile {
            margin: auto;
            label {
               @include FormButtonType;
            }
            &--displayOff {
                display: none;
            }
            &_sampleContainer {
                
                img {
                    width: 200px;
                    margin-top: 22px;
                }

                &_buttonsSystem {

                    &--displayOff{
                        display: none;
                    }
                    &--displayOn {
                        display: flex;

                        button {
                            font-family: 'MainFont_light';
                            background: none;
                            border: none;
                            font-size: 16px;
                            margin: 16px auto 0 auto;
                            box-sizing: border-box;
                            &:hover {
                                font-weight: bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }

    &_projectTitle, 
    &_projectSubtitle, 
    &_projectState,
    &_projectType, 
    &_projectDuration, 
    &_projectCreationDate, 
    &_projectDescription, 
    &_projectMoreInfos {

        width: 80%;
        margin: 0 auto 10px auto;
        display: flex;
        flex-direction: column;
        column-gap: 19px;

        label {
            width: 50%;
            font-size: 19px;
            font-family: 'MainFont_light'
        }
        input, select, textarea {
            width: 100%;
            border: none;
            background-color: $colorTwo;
            font-size: 16px;
            font-family: 'MainFont_light'
        }
        textarea{
            max-width: 100%;
            min-width: 100%;
            min-height: 300px;
        } 
    }

    &_projectArtistsList,
    &_projectProductionList,
    &_projectVideoList,
    &_projectResidenciesList,
    &_projectPdfFile {
        width: 80%;
        margin: 45px auto;
        display: flex;
        flex-direction: column;
        row-gap: 19px;

        &_title {
            font-family: 'MainFont_light';
            font-weight: bold;
            font-size: 19px;
        }

        input, select {
            font-family: 'MainFont_light';
            font-size: 16px;
            width: 40%;
            border: none;
            background-color: $colorTwo;
        }

        &_line {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 9px;
            width: 100%;
            label {
                font-size: 16px;
                font-family: 'MainFont_light';
            }
            input {
                width: 100%;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                column-gap: 15px;
                width: 100%;
            }

            button {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 0;
                // @include FormButtonType;
                color: $colorOne;
                width: 100px;
                background: none;
                margin: 0;
                font-weight: bold;
                border: none;
                &:hover {
                    color: $colorDarkGrey;
                    cursor: pointer;
                }
            }

            &_prodFunction {
                    select {
                    width: 100%;
                    font-family: 'MainFont_light';
            font-weight: bold;
                }
            }

            &_artistFunction {
                input {
                    font-family: 'MainFont_light';
                    font-weight: bold;
                }
            }
        } 
        &_addButton {
            @include FormButtonType;
            width: 300px;
            background-color: $colorDarkGrey;
            color: $colorLightGrey;
            margin: 10px auto;
            border: none;
            &:hover {
                background-color: $colorThree;
                color: $colorDarkGrey;
                cursor: pointer;
            }
        }
        
    }
    &_projectShowsList {

        width: 80%;
        margin: 45px auto;
        display: flex;
        flex-direction: column;
        row-gap: 19px;

        &_title {
            font-family: 'MainFont_light';
            font-weight: bold;
            font-size: 19px;
        }

        input, select {
            width: 100%;
            border: none;
            background-color: $colorTwo;
        }

        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            width: 100%;
            column-gap: 35px;
            
            &_infos {
                display: flex;
                flex-direction: column;
                width: 100%;
                

                label {
                    font-size: 16px;
                    font-family: 'MainFont_light';
                    margin: 22px 0;
                }
                input {
                    font-family: 'MainFont_light';
                    font-size: 16px;
                    width: 100%;
                }
            }
            
            &_dates {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 16px;
                    font-family: 'MainFont_light';
                    margin: 22px 0 11px 0;
                }

                &_gridDisplay {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: auto;
                    grid-gap: 5px;
                    box-sizing: content-box;

                    &_singleDay {
                        display: flex;
                        flex-direction: column;
                        row-gap: 5px;
                        margin: 0 0 22px 0;
                        width: auto;

                        &_date {
                            width: 100%;
                            font-family: 'MainFont_light';
                            font-weight: bold;
                            font-size: 14px;
                            margin-bottom: 9px;
                        }

                        &_switchButton {
                            cursor: pointer;
                            font-family: 'MainFont_light';
                            color: $colorDarkGrey;
                            font-size: 10px;

                            &:hover {
                                color: $colorFour;
                            }
                        }

                        &_fromTo {
                            cursor: pointer;
                            font-family: 'MainFont_light';
                            color: $colorDarkGrey;
                            font-size: 12px;
                        }

                        &_times {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            row-gap: 10px;
                            column-gap: 9px;
                            

                            &_timeContainer {
                                background-color: $colorTwo;
                                display: flex;
                                flex-direction: column;
                                
                                input {
                                    width: auto;
                                    font-family: 'MainFont_light';
                                    font-size: 14px;
                                    font-weight: bold;
                                    background-color: rgba($color: #ffffff, $alpha: 0.6)
                                }

                                label {
                                    margin: 0;
                                }

                                &_supprButton {
                                    margin: 0;
                                    width: 100%;
                                    text-align: left;
                                    padding: 0;
                                    font-family: 'MainFont_light';
                                    font-size: 13px;
                                    background: none;
                                    border: none;
                                    font-weight: bold;
                                    color: $colorOne;
                                    
                                    &:hover {
                                        color: $colorDarkGrey;
                                        cursor: pointer;
                                    }
                                }
                            }
                            &_addButton {
          
                                @include FormButtonType;
                                
                                background-color: $colorDarkGrey;
                                color: $colorLightGrey;
                                font-weight: bold;
                                
                                padding: 8px;
                                margin: 0;
                                width: 102px;
                                border: none;
                                &:hover {
                                    background-color: $colorThree;
                                    color: $colorDarkGrey;
                                    cursor: pointer;
                                }
                            }
                        }

                        &_supprButton {

                            @include FormButtonType;
                            color: $colorOne;
                            width: auto;
                            padding: 7px;
                            background: none;
                            margin: 10px 0;
                            font-weight: bold;
                            border: 1px solid $colorOne;
                            &:hover {
                                color: $colorLightGrey;
                                background-color: $colorOne; 
                                cursor: pointer;
                            }
                        }
                    }

                    &_addButton {

                        @include FormButtonType;
                        height: 32px;
                                background-color: $colorDarkGrey;
                                color: $colorLightGrey;
                                font-weight: bold;
                                padding: 8px;
                                margin: 0 0 45px 0;
                                width: auto;
                                border: none;
                                &:hover {
                                    background-color: $colorThree;
                                    color: $colorDarkGrey;
                                    cursor: pointer;
                                }
                    }
                }
            }

            &_supprButton {

                @include FormButtonType;
                color: $colorLightGrey;
                width: 100%;
                padding: 7px;
                background: none;
                margin: 10px 0;
                font-weight: bold;
                border: 1px solid $colorOne;
                background-color: $colorOne; 
                &:hover {
                    
                    background-color: $colorLightGrey; 
                    cursor: pointer;
                }
            }

            &_field {
                &_container {
                    display: flex;
                    flex-direction: row;
                }
            }
        } 
        &_addButton {
            @include FormButtonType;
            height: 32px;
            background-color: $colorDarkGrey;
            color: $colorLightGrey;
            
            padding: 8px;
            margin: 10px auto;
            width: 300px;
            border: none;
            &:hover {
                background-color: $colorThree;
                color: $colorDarkGrey;
                cursor: pointer;
            }
        }
    }

    &_projectParagraphList {
        width: 80%;
        margin: 45px auto;
        display: flex;
        flex-direction: column;
        row-gap: 19px;
       
        &_topic {
            font-size: 19px;
            font-family: 'MainFont_light';
            font-weight: bold;

        }

        input, select {
            width: 40%;
            border: none;
            background-color: $colorTwo;
        }
        &_line {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            column-gap: 9px;
            width: 100%;
            margin-bottom: 20px;

            label {
                font-size: 16px;
                font-family: 'MainFont_light';
                
            }
            input {
                width: 100%;
                font-family: 'MainFont_light';
            }

            &_title {
                input {
                    height: auto;
                    width: 100%;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    font-family: 'MainFont_light';
                    font-weight: bold;
                    font-size: 14px;
                    margin-bottom: 20px;
            }
            }

            &_text {
                textarea {
                    background-color: $colorSix;
                    border: none;
                    @include paddingArea;
                    width: 100%;
                    min-height: 150px;
                }
            }

            &_supprButton {
                @include FormButtonType;
                color: $colorOne;
                width: 100px;
                background: none;
                margin: 10px 0;
                font-weight: bold;
                border: 1px solid $colorOne;
                &:hover {
                    color: $colorLightGrey;
                    background-color: $colorOne; 
                    cursor: pointer;
                }
            }
        }

        &_addButton {
            @include FormButtonType;
            width: 300px;
            background-color: $colorDarkGrey;
            color: $colorLightGrey;
            margin: 10px auto;
            border: none;
            &:hover {
                background-color: $colorThree;
                color: $colorDarkGrey;
                cursor: pointer;
            }
        }
    }

    &_projectResidenciesList {

        &_container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 35px;
            row-gap: 35px;
        }

        &_line {
            display: flex;
            flex-direction: column;
            &_field {
                &_container {
                    display: flex;
                    flex-direction: row;
                }
            }

            &_supprButton, button {
                 
                font-family: 'MainFont_light';
                margin: 15px 0;
                font-size: 15px;
            }
        }

        &_addButton {
            @include FormButtonType;
            width: 300px;
            background-color: $colorDarkGrey;
            color: $colorLightGrey;
            margin: 10px auto;
            border: none;
            &:hover {
                background-color: $colorThree;
                color: $colorDarkGrey;
                cursor: pointer;
            }
        }
    }

    &_projectPdfFile {

        #inputProjectPdfFile {
            display: none;
        }

        &_addButton {
            font-size: 14px;

            &--displayOff {
                display: none;
            }
        }
        &_sampleContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: auto;
            img {
                width: 300px; 
                margin: auto;
            }
            &_buttonsSystem {
               
                &--displayOff {
                    display: none;
                }
    
                &--displayOn {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 35px;
    
                    button {
                        font-family: 'MainFont_light';
                        font-weight: bold;
                        border: none;
                        &:hover {
                            color: $colorSix;
                            cursor: pointer;
                        }
                        background: none;
                        width: 300px;
                        margin: 16px auto 0px auto; 
                    }
                }
            }
        }

        &_pdfContainer {
            &_inputPdfName {
                &--displayOn {
                    display: block;
                }
                &--displayOff {
                    display: none;
                }
            }

            div {
                width: 20%;
                display: flex;
                flex-direction: column;
                margin: auto;

                p {

                }

                label {
                    font-family: 'MainFont_light';
                    font-weight: bold;
                    margin: auto;
                }

                input {
                    width: 100%;
                }

                button {
                    font-family: 'MainFont_light';
                    font-size: 16px;
                    margin-top: 10px;
                    background: none;
                    border: none;
                    color: $colorDarkGrey;
                    &:hover {
                        color: $colorOne;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &_buttons {

        display: flex;
        flex-direction: row;
        margin: 0 auto 54px auto;
        width: 100%;
        justify-content: center;
        column-gap: 16px;

        button {
            font-size: 22px;
            font-family: 'MainFont_light';
            font-weight: bold;
            color: $colorDarkGrey;
            border-radius: 0;
            border: 1px solid $colorDarkGrey;
            background: none;
            width: 170px;
            padding: 15px;
            &:hover {
                color: $colorLightGrey;
                background-color: $colorDarkGrey;
                border: none;
                cursor: pointer;
            }
        }
        
    }
}