@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-style: italic;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "SpecialFont_regular";
  src: url("../../public/assets/fonts/WarsawGothic/WarsawGothic.otf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@-webkit-keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@-webkit-keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@-webkit-keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@-webkit-keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@-webkit-keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes focusShow {
  0% {
    transform: scale(1);
    overflow: hidden;
  }
  100% {
    transform: scale(0.97);
    overflow: hidden;
  }
}
@keyframes focusShow {
  0% {
    transform: scale(1);
    overflow: hidden;
  }
  100% {
    transform: scale(0.97);
    overflow: hidden;
  }
}
@-webkit-keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapseArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapseArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
.bioCard {
  width: auto;
}
.bioCard_card {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 60px;
       column-gap: 60px;
  border: none;
  background: none;
  padding: 0 54px 0 0;
  box-sizing: border-box;
  height: 272px;
  width: 100%;
}
.bioCard_card:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 255, 0.8);
}
.bioCard_card:hover .bioCard_card_caption {
  -webkit-animation: moveDown ease 1s forwards;
          animation: moveDown ease 1s forwards;
}
.bioCard_card_image {
  width: 330px;
  height: 272px;
  -o-object-fit: cover;
     object-fit: cover;
}
.bioCard_card_caption {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  -webkit-animation: reverseMoveDown ease 1s forwards;
          animation: reverseMoveDown ease 1s forwards;
}
.bioCard_card_caption_name {
  font-family: "SpecialFont_regular";
  font-size: 54px;
  text-transform: uppercase;
  margin: 0;
}
.bioCard_card_caption_role {
  font-family: "MainFont_light";
  font-size: 19px;
}/*# sourceMappingURL=BioCard.css.map */