@import '../../utils/mixins';

.bioCard {

    

    &_card {
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        border: none;
        background: none;
        padding: 0 100px 0 0;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            background-color: $colorHover;
        }

        &_image {
            width: 330px;
            height: 272px;
            object-fit: cover;
        }
        &_caption {

            display: flex;
            flex-direction: column;
            text-align: left;

            &_name {
                font-family: 'SpecialFont_regular';
                font-size: 70px;

            }
            &_role {
                font-family: 'MainFont_bold';
                font-size: 18px;
            }
        }
    }
}