@import '../../utils/mixins';

.bioCard {

    width: auto;

    &_card {
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        border: none;
        background: none;
        padding: 0 54px 0 0;
        box-sizing: border-box;
        height: 272px;
        width: 100%;
        
        &:hover {
            cursor: pointer;
            background-color: $colorThree;
            .bioCard_card_caption {
                animation: moveDown ease 1s forwards;
            }
        }

        &_image {
            width: 330px;
            height: 272px;
            object-fit: cover;
        }
        &_caption {

            display: flex;
            flex-direction: column;
            text-align: left;
            width: 100%;
            animation: reverseMoveDown ease 1s forwards;

            &_name {
                font-family: 'SpecialFont_regular';
                font-size: 54px;
                text-transform: uppercase;
                margin: 0;
            }
            &_role {
                font-family: 'MainFont_light';
                font-size: 19px;
            }
        }
    }
}