@import '../../utils/mixins';

.home {
    animation: pageAppearing 4s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
   
    align-items: center;
    background: linear-gradient(-45deg, $colorFive, $colorLightGrey, $colorTwo);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;

    &_title {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        
        &_logoMask {
            position: relative;
            width: 50%;
            @include colorDuo2big;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                width: 70%;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                width: 70%;
            } 
        }
          
        &_logoMask img {
            animation: float 6s ease-in-out infinite;
            width: 100%;
            height: auto;
            /* Appliquer le masque */
            -webkit-mask: url('../../assets/logoSouffleur.svg#mask');
            mask: url('../../assets/logoSouffleur.svg#mask');
        }

        &_logo {
            width: 300px;
            margin: auto;
            animation: float 6s ease-in-out infinite;
            @include colorDuo3;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
               
            }
            @media only screen and (max-width:$mobileMaxWidth){
                width: 200px;
            }
        }
        &_text {
            font-family: 'MainFont_light';
            font-size: 17px;
            margin: auto;
            font-weight: normal;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            
            }   
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 13px;
            }      
        }
        
    }

    &_nav {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 0 auto;
    
        &_menu {
            display: flex;
            flex-direction: row;
            column-gap: 22px;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                column-gap: 13px;  
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 17px;
                flex-wrap: wrap;
                flex-direction: column;
                margin: 0;
                row-gap: 15px;
  
            } 
            &_item {
                h2, p, button {
                    width: auto;
                    margin: auto;
                    color: $colorDarkGrey;
                    font-family: 'MainFont_light';
                    font-size: 22px;
                    font-weight: normal;
                    &:hover {
                        cursor: pointer;
                        font-weight: bold;
                    }
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        font-size: 17px;
                        width: auto;
                    }
                    
                    @media only screen and (max-width:$mobileMaxWidth){
                        font-size: 17px;
                        width: 120px;
                        text-align: center;
                    } 
                }
            }
        }

        &_socials {
            display: flex;
            flex-direction: row;
            column-gap: 22px;
            width: auto;
            border-radius: 50%;
            margin: auto;
            &_item {
                img {
                    width: 30px;
                }
                &:hover {
                    cursor: pointer;
                    // color: $colorMediumGrey;
                    // background-color: pink;
                    @include colorDuo3;
                    // font-style: italic;
                    // font-weight: bold;
                }
            }
        }
        
        &_item, a, button {

            display: flex;
            width: 100%;
            justify-content: center; 
            text-decoration: none;
            border: none;
            background: none;
            font-family: 'MainFont_light';
        }
    }

    &_touring {
        margin-top: 180px; 
    }
    &_residencies {
        margin-top: 90px; 
    }
    &_touring, &_residencies {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        h2 {
            @include Title;
            @include SidePaddings;
            @include DropColorFilter;
            font-size: 120px;
            word-break: break-word;
            margin: 0;
            text-transform: uppercase;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 81px;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 60px;
            } 
        }

        &_list {
            display: grid;
            grid-template-columns: 1fr;
            gap:4px;
        }
        &_card {

            width: 100%;
            position: relative;
            &_image {
                width: 100%;
                aspect-ratio: 32/9;
                height: 100%;
                object-fit: cover;
                object-position: bottom center;
                filter: saturate(0) brightness(0.5)

            }
            @media (hover: hover) and (pointer: fine) {
                cursor: pointer;
                &:hover {
                   img {
                    filter: brightness(1) saturate(0);
                   }
                }
            }

            &_content {
                position: absolute;
                bottom: 0;
                @include SidePaddings;
                display: flex;
                flex-direction: column-reverse;
                padding-bottom: 22px;
            }

            &_title {
                @include Title;
                font-size: 120px;
                word-break: break-word;
                
                
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    font-size: 81px;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    font-size: 60px;
                } 

                &--0, &--3, &--6 {
                    color: $colorThree;
                    
                }
                &--1, &--4, &--7 {
                    color: $colorFour;
                    
                }
                &--2, &--5, &--8 {
                    color: $colorFive;
                    
                }
            }

            &_dates {
                li {
                    font-family: 'MainFont_light';
                    font-size: 18px;
                    color: $colorLightGrey;
                    font-weight: bold;
                }
            }
            
        }
    }
    &_residencies {
        
    }
}