@import '../../utils/mixins';

.home {
    animation: pageAppearing 4s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    align-items: center;
    // background: linear-gradient(-45deg, $colorFive, $colorLightGrey, $colorTwo);
    background: $colorDarkGrey;
	background-size: 400% 400%;
	// animation: gradient 15s ease infinite;
	height: 100vh;

    &_title {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 30px 0 50px 0;
        
        &_logoMask {
            position: relative;
            width: 40%;
            @include colorDuo3big;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                width: 70%;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                width: 70%;
            } 
        }
          
        &_logoMask img {
            animation: float 6s ease-in-out infinite;
            width: 100%;
            height: auto;
            /* Appliquer le masque */
            -webkit-mask: url('../../assets/logoSouffleur.svg#mask');
            mask: url('../../assets/logoSouffleur.svg#mask');
        }

        &_logo {
            width: 300px;
            margin: auto;
            animation: float 6s ease-in-out infinite;
            @include colorDuo3;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
               
            }
            @media only screen and (max-width:$mobileMaxWidth){
                width: 200px;
            }
        }
        &_text {
            font-family: 'MainFont_light';
            font-size: 17px;
            margin: auto;
            font-weight: normal;
            color: $colorLightGrey;
        }
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            font-size: 17px;
        }   
        @media only screen and (max-width:$mobileMaxWidth){
            
        }      
    }

    &_nav {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 0 auto;
    
        &_menu {
            display: flex;
            flex-direction: row;
            column-gap: 30px;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                column-gap: 13px;  
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                flex-direction: column;
                font-size: 18px;
                margin: 5px auto;
            } 

            &_item {
                
                h2, p {  
                    width: auto;
                    margin: auto;
                    // color: $colorDarkGrey;
                    color: $colorLightGrey;
                    // font-family: 'MainFont_light';
                    font-family: 'SpecialFont_regular';
                    // font-size: 22px;
                    font-size: 30px;
                    font-weight: normal;
                    text-align: center;
                    &:hover {
                        cursor: pointer;
                        color: $colorFive;
                    }
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        font-size: 25px;
                        margin: 0 10px;
                        width: auto;
                    }
                    
                    @media only screen and (max-width:$mobileMaxWidth){
                        font-size: 25px;
                        width: 120px;
                        text-align: center;
                        margin: 5px auto; 
                    } 
                }
            }

            &_dotIcon {

                font-size: 10px;
                margin: auto 0;

                &--one {
                    color: $colorFour
                }
                &--two {
                    color: $colorTwo
                }
                &--three {
                    color: $colorThree
                }
            }
        }

        &_socials {
            display: flex;
            flex-direction: row;
            column-gap: 22px;
            width: auto;
            border-radius: 50%;
            margin: auto;
            // color: $colorDarkGrey;
            color: $colorLightGrey;
            
            &_item {
                img {
                    width: 30px;
                }
                &:hover {
                    cursor: pointer;
                    // color: $colorMediumGrey;
                    // background-color: pink;
                    @include colorDuo3;
                    // font-style: italic;
                    // font-weight: bold;
                }
            }
        }
        
        &_item, a, button {

            display: flex;
            width: 100%;
            justify-content: center; 
            text-decoration: none;
            border: none;
            background: none;
            font-family: 'MainFont_light';
     
        }
    }
}