@import '../../utils/mixins';

.home {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 350px;
    height: 90vh;

    &_title {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        &_logo {
            width: 300px;
            margin: auto;
            animation: float 6s ease-in-out infinite;
            @include colorDuo3;
        }
        &_text {
            font-family: 'MainFont_light';
            font-size: 17px;
            margin: auto;
        }
        
    }

    &_nav {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        // &_menu {
        //     &_item {
        //         margin: 0 auto 15px auto;
        //         color: $colorDarkGrey;
        //         font-family: 'MainFont_light';
        //         font-size: 30px;
        //     }
        // }

        &_socials {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            width: 20%;
            border-radius: 50%;
            margin: auto;
            &_item {
                img {
                    width: 40px;
                }
            }
        }
        
        &_item, a, button {

            display: flex;
            width: 100%;
            justify-content: center; 
            text-decoration: none;
            border: none;
            background: none;

            &:hover {
                cursor: pointer;
                font-family: 'MainFont_lightItalic';
                // color: $colorMediumGrey;
                // background-color: pink;
                @include colorDuo3;
            }
        }
    }
}