@import '../../utils/mixins';

.spectacles {
    
    &_filtersHandler {
        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        column-gap: 3px;

        &_errorText {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            font-family:'MainFont_light';
            font-size: 150px;
            margin: 10% auto 0 auto;
            text-transform: uppercase;
        }

        &_filtersStateContainer {
            text-align: end;
        }

        &_filtersStateContainer, &_filtersTypeContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            column-gap: 60px;
        }

        &_filtersStateContainer {
            padding: 0;
            width: 50%;

            &_item {
                list-style-type: none;

                button {
                    @include FilterButton;
                    text-align: right;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        background-color: $colorTwo;
                        color: $colorDarkGrey;  
                    }
                }

                &--displayOn {
                    button {
                        background-color: $colorDarkGrey;
                        color: $colorLightGrey;    
                    }
                }
            }
        }

        &_filtersTypeContainer {
            animation: pageAppearing 1s ease forwards;
            width: 50%;
            padding: 0;
            &_item {
                list-style-type: none;
                button {
                    @include FilterButton;
                    text-align: left;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        background-color: $colorTwo;
                        color: $colorDarkGrey;  
                    }
                }
                &--displayOn {
                    button {
                        width: 100%;
                        background-color: $colorDarkGrey;
                        color: $colorLightGrey;  
                    }
                }
            }
        }
    }

    &_projectsList {
        animation: pageAppearing 2s ease forwards;
        margin: 19px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 40px;
        list-style-type: none;
        grid-gap: 3px;
        width: 70%;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            grid-template-columns: 1fr 1fr 1fr;

        }
        @media only screen and (max-width:$mobileMaxWidth){
            grid-template-columns: 1fr 1fr;
        } 
        

        li {
            width: 100%;
            
        }
        
        &_projectItem {
            animation: pageAppearing 2s ease forwards;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 0px;
            text-decoration: none;
            

            &:hover {
                cursor: pointer;
                background-color: $colorTwo;
            
                .spectacles_projectsList_projectItem_img {
                   animation: focusShow 0.5s ease forwards;
                    
                }

            }

            &_img {
                width: 100%;
                aspect-ratio: 1/1.25;
                object-fit: cover;
                filter: saturate(0);
            } 

            &_mainDatas {
                
                display: flex;
                // flex-direction: column;
                // justify-content: flex-start;
                padding-bottom: 22px;
                height: 110px;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    height: 54px;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    height: 45px;
                } 
                
                &_title {
                    font-family: 'SpecialFont_regular';
                    font-size: 30px;
                    color: $colorDarkGrey;
                    margin: 10px 0 0 0;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        font-size: 22px;
                    }
                    @media only screen and (max-width:$mobileMaxWidth){
                        font-size: 19px;
                    } 
                }

                // &_subtitle {
                //     font-family: 'MainFont_light';
                //     font-size: 14px;
                //     font-weight: bold;
                //     color: $colorDarkGrey;
                //     margin:  0 0 10px 0;
                    
                // }
                // &_creationDate {
                //     font-family: 'MainFont_light';
                //     font-size: 14px;
                //     color: $colorDarkGrey;
                //     margin: 0;
                    
                // }
                // &_state {
                //     font-family: 'MainFont_light';
                //     font-style: italic;
                //     font-size: 14px;
                //     color: $colorDarkGrey;
                //     margin: 0;
                // }
            }
        }
    }
}