@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-style: italic;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "SpecialFont_regular";
  src: url("../../public/assets/fonts/WarsawGothic/WarsawGothic.otf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@-webkit-keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@-webkit-keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@-webkit-keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@-webkit-keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@-webkit-keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes focusShow {
  0% {
    transform: scale(1);
    overflow: hidden;
  }
  100% {
    transform: scale(0.97);
    overflow: hidden;
  }
}
@keyframes focusShow {
  0% {
    transform: scale(1);
    overflow: hidden;
  }
  100% {
    transform: scale(0.97);
    overflow: hidden;
  }
}
@-webkit-keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapseArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapseArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
.spectacles_filtersHandler {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.spectacles_filtersHandler_errorText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: "MainFont_light";
  font-size: 150px;
  margin: 10% auto 0 auto;
  text-transform: uppercase;
}
.spectacles_filtersHandler_filtersStateContainer {
  text-align: end;
}
.spectacles_filtersHandler_filtersStateContainer, .spectacles_filtersHandler_filtersTypeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.spectacles_filtersHandler_filtersStateContainer {
  padding: 0;
}
.spectacles_filtersHandler_filtersStateContainer_item {
  list-style-type: none;
}
.spectacles_filtersHandler_filtersStateContainer_item button {
  display: inline-block;
  font-family: "MainFont_light";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #232323;
  background: none;
  border: none;
  height: 30px;
  padding: 0px 40px;
  line-height: 1.3;
  text-align: right;
  width: 100%;
}
.spectacles_filtersHandler_filtersStateContainer_item button:hover {
  cursor: pointer;
  background-color: #019cff;
  color: #E9E9E9;
}
.spectacles_filtersHandler_filtersStateContainer_item--displayOn button {
  background-color: #019cff;
}
.spectacles_filtersHandler_filtersTypeContainer {
  padding: 0;
}
.spectacles_filtersHandler_filtersTypeContainer_item {
  list-style-type: none;
}
.spectacles_filtersHandler_filtersTypeContainer_item button {
  display: inline-block;
  font-family: "MainFont_light";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #232323;
  background: none;
  border: none;
  height: 30px;
  padding: 0px 40px;
  line-height: 1.3;
  text-align: left;
  width: 100%;
}
.spectacles_filtersHandler_filtersTypeContainer_item button:hover {
  cursor: pointer;
  background-color: #019cff;
  color: #E9E9E9;
}
.spectacles_filtersHandler_filtersTypeContainer_item button:hover {
  cursor: pointer;
  background-color: #fea201;
  color: #E9E9E9;
}
.spectacles_filtersHandler_filtersTypeContainer_item--displayOn button {
  width: 100%;
  background-color: #fea201;
}
.spectacles_projectsList {
  -webkit-animation: pageAppearing 2s ease forwards;
          animation: pageAppearing 2s ease forwards;
  margin-top: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 40px;
  list-style-type: none;
  grid-gap: 3px;
}
.spectacles_projectsList li {
  width: auto;
}
.spectacles_projectsList_projectItem {
  -webkit-animation: pageAppearing 2s ease forwards;
          animation: pageAppearing 2s ease forwards;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  text-decoration: none;
  margin-bottom: 35px;
}
.spectacles_projectsList_projectItem:hover {
  cursor: pointer;
  background-color: #019cff;
}
.spectacles_projectsList_projectItem:hover .spectacles_projectsList_projectItem_img {
  -webkit-animation: focusShow 0.5s ease forwards;
          animation: focusShow 0.5s ease forwards;
}
.spectacles_projectsList_projectItem_img {
  width: 100%;
  aspect-ratio: 1/1.15;
  -o-object-fit: cover;
     object-fit: cover;
}
.spectacles_projectsList_projectItem_mainDatas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 22px;
  padding-left: 10px;
  height: 130px;
}
.spectacles_projectsList_projectItem_mainDatas_title {
  font-family: "SpecialFont_regular";
  font-size: 54px;
  color: #232323;
  margin: 10px 0 0 0;
  text-transform: uppercase;
}
.spectacles_projectsList_projectItem_mainDatas_subtitle {
  font-family: "MainFont_light";
  font-size: 19px;
  color: #232323;
  margin: 0 0 10px 0;
}
.spectacles_projectsList_projectItem_mainDatas_creationDate {
  font-family: "MainFont_light";
  font-size: 14px;
  color: #232323;
  margin: 0;
}
.spectacles_projectsList_projectItem_mainDatas_state {
  font-family: "MainFont_light";
  font-style: italic;
  font-size: 14px;
  color: #232323;
  margin: 0;
}/*# sourceMappingURL=Spectacles.css.map */