@import '../../utils/mixins';

.header {
    margin-bottom: 50px;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;

    &:hover {
        cursor: pointer;

        svg {
            animation: hide ease 0.5s forwards;
        }
        
    }

    svg {
        width: auto;
        height: 60px;
    }
    
    #top-line,
    #bottom-line,
    #middle-line {
        transform-box: fill-box;
        transform-origin: center;
    }

    &_icon {
        width: 40px;
        position: absolute;
        top: 8px;
        left: calc(50% - 20px);
        background: none;
        border: none;

        
    }
    
    &_nav {
            height: 70px;
            width: 100%;
            background-color: $colorHover;
            flex-direction: row;
            

            &_menu {

                margin: auto;
                width: 40%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 50px;
                
            
                &_item {
                    background: none;
                    border: none;
                    color: $colorDarkGrey;
                    font-family: 'MainFont_light';
                    font-size: 25px;
                    display: flex;
                    text-align: center;
                    vertical-align: middle;
                    
                    &:hover {
                        cursor: pointer;
                        font-family:'MainFont_lightItalic';
                    }
                }
            }

        &--displayOn {
            display: flex;
            animation: openCollapse 0.6s ease-out forwards;
        }

        &--displayOff {
            display: none;
        }
    }
}