@import '../../utils/mixins';

.header {
    margin-bottom: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: $colorThree;

    &--displayOff {
        display: none;
    }

    &--opened {
        animation: openHeader ease 0.5s forwards;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            animation: openHeaderMobile ease 0.5s forwards;
        }
        @media only screen and (max-width:$mobileMaxWidth){
            animation: openHeaderMobileMax ease 0.5s forwards;
        } 
        
    }

    &--closed {
        animation: closeHeader ease 0.5s forwards;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            animation: closeHeaderMobile ease 0.5s forwards;
        }
        @media only screen and (max-width:$mobileMaxWidth){
            animation: closeHeaderMobileMax ease 0.5s forwards;
        } 
    }

    &:hover {
        cursor: pointer;
    }

    #hamburger {
        height: 40px;
    }
    
    #top-line,
    #bottom-line,
    #middle-line {
        transform-box: fill-box;
        transform-origin: center;
    }

    &_icon {
        width: 40px;
        position: absolute;
        top: 6px;
        left: calc(50% - 20px);
        background: none;
        border: none;

        &--opened {
            animation: hide ease 0.5s forwards;
        }

        &--closed {
            animation: appear ease 0.5s forwards;
        }
    }
    
    &_nav {
            height: 70px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            @include SidePaddings;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                justify-content: center;
                flex-direction: row;
                column-gap: 35px;
                height: auto;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                justify-content: flex-start;
                flex-direction: row;
                column-gap: 35px;
                height: auto;
            } 
            
            &_socials {
                margin: auto;
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                column-gap: 1em;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    width: auto;
                    margin: auto 0;
                    justify-content: center;
                    flex-direction: column;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    width: auto;
                    justify-content: center;
                    margin: auto 0;
                    flex-direction: column;
                } 

                &_item {
                    display: flex;
                    img {
                        height: 30px;
                        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                            
                        }
                        @media only screen and (max-width:$mobileMaxWidth){
                            height: 25px;
                        }
                        &:hover {
                            @include DropColorFilter3;
                        }
                    }
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        justify-content: flex-end;
                    }
                    @media only screen and (max-width:$mobileMaxWidth){
                        justify-content: flex-end;
                    } 
                }
            }

            &_menu {

                margin: auto;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                column-gap: 1.2em;
                padding: 0;
                box-sizing: border-box;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    width: auto;
                    justify-content: center;
                    flex-direction: column;
                    row-gap: 3px;
                    margin: auto 0;
                }

                @media only screen and (max-width:$mobileMaxWidth){
                    width: auto;
                    justify-content: center;
                    flex-direction: column;
                    margin: auto 0;
                    row-gap: 3px;
                } 
                
            
                &_item {
                    list-style-type: none;
                    margin: auto 0;
                    width: auto;
                    height: auto;

                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        
                        margin: 0;
                    }
                    @media only screen and (max-width:$mobileMaxWidth){
                        
                        margin: 0;
                        
                    } 
                    a, button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        color: $colorDarkGrey;
                        font-family: 'MainFont_light';
                        font-size: 17px;
                        padding: 0;
                        text-decoration: none;
                        background: none;
                        border: none;
                        margin: auto;
                        box-sizing: border-box;
                        
                        &:hover {
                            cursor: pointer;
                            font-weight: bold;
                            box-sizing: border-box;
                        }
                    }

                    &--displayOff {
                        display: none;
                    }

                    &--bold {
                        margin: auto 0;
                        a, button {
                            width: auto;
                            margin: auto 0;
                            h2, p {
                                font-family: 'MainFont_light';
                                font-size: 18px;
                                color: $colorDarkGrey;
                                font-weight: bold;
                                display: flex;
                                width: auto;
                                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                                    justify-content: flex-start;
                                    font-size: 18px;
                                    // margin: 5px 0;
                                }
                                @media only screen and (max-width:$mobileMaxWidth){
                                    justify-content: flex-start;
                                    font-size: 18px;
                                    // margin: 2px 0;
                                } 
                                
                                &:hover {
                                    cursor: pointer;
                                    font-weight: bold;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }

                    &--edit {
                        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                            display: none;
                        }
                        @media only screen and (max-width:$mobileMaxWidth){
                            display: none;
                        } 
                    } 

                    &--light {
                        margin: auto 0;
                        a, button {
                            width: auto;
                            margin: auto 0;
                            h2, p, button {
                                font-family: 'MainFont_light';
                                font-size: 18px;
                                color: $colorDarkGrey;
                                font-weight: 200;
                                display: flex;
                                width: auto;
                                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                                    justify-content: flex-start;
                                    font-size: 18px;
                                    margin: auto 0;
                                }
                                @media only screen and (max-width:$mobileMaxWidth){
                                    justify-content: flex-start;
                                    font-size: 18px;
                                    margin: auto 0;
                                } 
                                
                                &:hover {
                                    cursor: pointer;
                                    font-weight: bold;
                                    box-sizing: border-box;
                                }
                            }
                        }
                    }
                }
            }

        &--displayOn {
            display: flex;
            animation: appear 0.5s ease-out forwards;
        }

        &--displayOff {
            display: none;
        }
    }

    &_contactModal {

        &--open {
            overflow: scroll;
            z-index: 1;
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, 0.8);
            display: flex;
        }
        &--close {
            display: none;
        }
    }
}