@import '../../utils/mixins';

.bioForm {
    height: 100%;
    &_sampleContainer {
        img {
            object-fit: contain;
            width: 300px;
        }
    }
    &_sampleContainer {
        img {
            height: 100px;
        }
    }
    &_bio {
        
    }
}
#inputBio {
    font-family: 'MainFont_light';
    text-align: justify;
    padding: 35px;
    height: 400px;
    overflow: scroll;
}