@import '../../utils/mixins';

.bioForm {
    &_sampleContainer {
            
        img {
            object-fit: contain;
            width: 300px;
        }
    }
}
#inputBio {
    font-family: 'MainFont_light';
    text-align: justify;
    padding: 35px;
    height: 400px;
    overflow: scroll;
}