@import '../../utils/mixins';

.editSection {
    animation: pageAppearing 2s ease forwards;
    background-color:rgb(164, 229, 255) ;
    &_specialImg {
        width: 60%;
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
    }

    &_snowflakesContainer {
        margin: auto;
        position: fixed;
        width: 100vw;
        height: 150vh;
        display: flex;
        z-index: 0;
        top: 0;
        pointer-events: none;
        
        &_snowflakes {
            justify-content: center;
            width: 80%;
            height: 100%;
            margin: auto;
            z-index: 0;
            pointer-events: none;
        }
    }

    &_unauthText {
        color: $colorDarkGrey;
        width: 100%;
        @include SidePaddings;
        font-size: 19px;
        font-family: 'MainFont_light';
        margin: 120px auto;
        text-align: center;
    }
    &_mainContainer {
        z-index: 10;
        display: flex;
        flex-direction: column;

        &_bios, &_projects, &_newsletter {

            margin: 50px;

            &_title {
                font-family: 'MainFont_light';
                font-size: 35px;
                margin: 45px 0;
            }

            &_biosList, &_projectsList {
                padding: 0;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                
                &_item {
                    height: 90px;
                    display: flex;
                    flex-direction: column;
                    // row-gap: 5px;
                    margin-bottom: 20px;

                    &_name {
                        font-family: 'SpecialFont_regular';
                        font-size: 30px;
                        background: none;
                        border: none;
                        // margin: 16px 0;
                        text-transform: uppercase;

                        &--visible {
                            color: $colorDarkGrey;
                        }

                        &--invisible {
                            color: $colorOne;
                            font-style: italic;
                        }
                        
                    }
                    &_unpublished {
                        color: $colorOne;
                        font-family: "Mainfont_light";
                        font-weight: bold;
                        font-style: italic;
                        font-size: 17px;
                        text-transform: lowercase;
                        margin-left: 15px;
                    }
                    &_buttons {
                        display: flex;
                        flex-direction: row;
                        column-gap: 15px;
                        justify-content: flex-start;
                        z-index: 10;
                        margin: 10px 0;
                        
                        button {
                            margin: 0;
                            border: none;
                            background: none;
                            padding: 0;
                            &:hover {
                                cursor: pointer;
                                color: $colorSix;
                            }
                        }             

                    }

                       
                }

            }
            &_addButton {
                width: 100%;
                margin: 40px auto;
                @include Button2;
                z-index: 10;
            }
        }

    }

    

    &_forms, &_newsletter {
        
        &--displayOn{
            z-index: 20;
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background:rgba(0, 0, 0, 0.8);
        }
        &--displayOff{
            display: none;
        } 
    }

}