@import '../../utils/mixins';

.contactModal {
    
    width: auto;
    background-color: $colorLightGrey;
    margin: auto;
    position: relative;
    animation: appearOpacity 2s ease forwards;
    position: relative;
    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
        
    }
    @media only screen and (max-width:$mobileMaxWidth){
        width: 90%;
    } 
    
    &_container {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 35px 54px;
        height: auto;
        margin: 0 auto;
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            padding: 22px 22px;
        }
        @media only screen and (max-width:$mobileMaxWidth){
            padding: 22px 22px;
        } 

        &_datas {
            
            &_block  {
            
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;

                &_title {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-family: 'MainFont_light';
                    font-weight: bold;
                    font-size: 19px;
                    margin: 22px auto;
                    text-align: center;
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        font-size: 16px;
                    }
                    @media only screen and (max-width:$mobileMaxWidth){
                        font-size: 14px;
                    } 
                    
                }

                &_text {

                    &--light, &--bold {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        font-family: 'MainFont_light';
                        font-size: 16px;
                        text-align: center;
                        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                            font-size: 14px;
                        }
                        @media only screen and (max-width:$mobileMaxWidth){
                            font-size: 13px;
                        } 
                    }

                    &--bold {
                        font-weight: bold;
                        text-align: center;
                        margin: 16px auto;
                    }

                }

                a {
                    color: $colorDarkGrey
                }
            }
        }
    }

    &_closeButton {
        width: auto;
        display: flex;
        color: $colorDarkGrey;
        background: none;
        border: none;
        position: fixed;
        margin: 10px 0 0 10px;
        
        &_icon {
            height: 2em;
            
            &:hover {
                cursor: pointer;
            }
        }
    }

    
}