@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-style: italic;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "SpecialFont_regular";
  src: url("../../public/assets/fonts/WarsawGothic/WarsawGothic.otf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@-webkit-keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@-webkit-keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  29% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@-webkit-keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@-webkit-keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@-webkit-keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes focusShow {
  0% {
    transform: scale(1);
    overflow: hidden;
  }
  100% {
    transform: scale(0.97);
    overflow: hidden;
  }
}
@keyframes focusShow {
  0% {
    transform: scale(1);
    overflow: hidden;
  }
  100% {
    transform: scale(0.97);
    overflow: hidden;
  }
}
@-webkit-keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes openCollapseArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapseArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 1000px;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    max-height: 1000px;
    opacity: 1;
  }
  50% {
    max-height: 1000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
.compagnieSection {
  -webkit-animation: pageAppearing 2s ease forwards;
          animation: pageAppearing 2s ease forwards;
}
.compagnieSection_title {
  padding: 0 98px;
  box-sizing: border-box;
  font-weight: 200;
  font-family: "SpecialFont_regular";
  font-size: 120px;
  margin-bottom: 40px;
  text-transform: uppercase;
  filter: drop-shadow(3px 3px 0px #fea201) drop-shadow(-3px -3px 0px #019cff);
}
.compagnieSection_intro {
  padding: 0 98px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}
.compagnieSection_intro_rightbloc {
  padding-top: 120px;
}
.compagnieSection_intro p {
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
  width: 49%;
}
.compagnieSection_image {
  width: 100%;
  height: 820px;
  -o-object-fit: cover;
     object-fit: cover;
}
.compagnieSection_biosList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 105px 0;
}
.compagnieSection_biosList_bioItem {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.compagnieSection_bioSheetContainer--displayOff {
  display: none;
}
.compagnieSection_bioSheetContainer--displayOn {
  display: flex;
}
.compagnieSection_teamCollapse {
  display: flex;
  flex-direction: column;
  padding: 0 98px;
  box-sizing: border-box;
  padding-top: 98px;
  padding-bottom: 54px;
  width: 100%;
  margin: auto;
  background-color: #E9E9E9;
}
.compagnieSection_teamCollapse_teamButton {
  margin: 0 auto 98px auto;
  padding: 10px;
  box-sizing: border-box;
  font-family: "SpecialFont_regular";
  font-size: 30px;
  width: 12em;
  text-transform: uppercase;
  color: #232323;
  text-decoration: none;
  border: none;
  border: none;
  background-color: rgba(0, 255, 0, 0.8);
}
.compagnieSection_teamCollapse_team {
  display: flex;
  flex-direction: column;
  row-gap: 98px;
}
.compagnieSection_teamCollapse_team_biosList {
  list-style: none;
  padding: 0;
}
.compagnieSection_teamCollapse_team_buttons {
  width: auto;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin: auto;
  justify-content: center;
}
.compagnieSection_teamCollapse_team_buttons_button--notSelected {
  display: inline-block;
  font-family: "MainFont_light";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #232323;
  background: none;
  border: none;
  height: 30px;
  padding: 0px 40px;
  line-height: 1.3;
}
.compagnieSection_teamCollapse_team_buttons_button--notSelected:hover {
  cursor: pointer;
  background-color: #019cff;
  color: #E9E9E9;
}
.compagnieSection_teamCollapse_team_buttons_button--selected {
  display: inline-block;
  font-family: "MainFont_light";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #232323;
  background: none;
  border: none;
  height: 30px;
  padding: 0px 40px;
  line-height: 1.3;
  background-color: #00f0ff;
}
.compagnieSection_teamCollapse_team_buttons_button--selected:hover {
  cursor: pointer;
  background-color: #019cff;
  color: #E9E9E9;
}
.compagnieSection_teamCollapse_team_biosList {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 59px;
}
.compagnieSection_teamCollapse_team_biosList_item {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.compagnieSection_teamCollapse_team_biosList_item_img {
  margin: auto;
  width: 90%;
  aspect-ratio: 1.3/1;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.compagnieSection_teamCollapse_team_biosList_item_name {
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
  margin: 16px auto 0 auto;
}
.compagnieSection_teamCollapse_team_biosList_item_role {
  font-family: "MainFont_light";
  font-size: 16px;
  margin: auto;
}
.compagnieSection_bioSheetContainer {
  z-index: 1;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}
.compagnieSection_bioSheetContainer_mainContainer {
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 0;
       column-gap: 0;
  background-color: #E9E9E9;
  position: relative;
}
.compagnieSection_bioSheetContainer_mainContainer_image {
  width: 665px;
  height: 814px;
  -o-object-fit: cover;
     object-fit: cover;
}
.compagnieSection_bioSheetContainer_mainContainer_texts {
  padding: 300px 67px 67px 67px;
  width: 100%;
}
.compagnieSection_bioSheetContainer_mainContainer_texts_name {
  font-family: "SpecialFont_regular";
  font-size: 98px;
  text-transform: uppercase;
  margin: 30px 0;
}
.compagnieSection_bioSheetContainer_mainContainer_texts_role {
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 54px;
}
.compagnieSection_bioSheetContainer_mainContainer_texts_bio {
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
}
.compagnieSection_bioSheetContainer_button {
  background: none;
  border: none;
  position: absolute;
  top: 60px;
  right: 60px;
}
.compagnieSection_bioSheetContainer_button:hover {
  cursor: pointer;
}
.compagnieSection_bioSheetContainer_button_icon {
  color: #232323;
  height: 2em;
  position: fixed;
  right: 65px;
}
.compagnieSection_bioSheetContainer--displayOn {
  display: flex;
}
.compagnieSection_bioSheetContainer--displayOff {
  display: none;
}
.compagnieSection_AA {
  margin: 0 auto;
  padding: 98px;
  display: flex;
  flex-direction: column;
  background-color: #fea201;
  height: auto;
}
.compagnieSection_AA_title {
  width: 37%;
  margin: 0 auto 54px auto;
  font-family: "SpecialFont_regular";
  text-transform: uppercase;
  font-size: 54px;
}
.compagnieSection_AA_text {
  width: 37%;
  margin: auto;
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
}/*# sourceMappingURL=Compagnie.css.map */