@import '../../utils/mixins';

.compagnieSection {
    animation: pageAppearing 2s ease forwards;
    &_title {
        @include SidePaddings;
        font-weight: 200;
        font-family: 'SpecialFont_regular';
        font-size: 120px;
        margin-bottom: 40px;
        text-transform: uppercase;
        @include colorDuo3;
    }

    &_intro {
        @include SidePaddings;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;

        &_rightbloc {
            padding-top: 120px;
        }

        p {
            @include TextBloc;
            width: 49%;
        }

    }

    &_image {
        width: 100%;
        height: 820px;
        object-fit: cover;
    }

    &_biosList {
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 105px 0;

        &_bioItem {
            list-style-type: none;
            padding: 0;
            width: 100%;
        }

    }
    
    &_bioSheetContainer--displayOff {
        display: none;
    }

    &_bioSheetContainer--displayOn {
        display: flex;
    }

    &_teamCollapse {
        display: flex;
        flex-direction: column;
        @include SidePaddings;
        padding-top: 98px;
        padding-bottom: 54px;
        width: 100%;
        margin: auto;
        background-color: $colorLightGrey;

        &_teamButton {
            margin: 0 auto 98px auto;
            @include ButtonType;
            border: none;
            background-color: $colorFour;
        }
    
        &_team {

            display: flex;
            flex-direction: column;
            row-gap: 98px;
            
            &_biosList {
                list-style: none;
                padding: 0;
            }
            &_buttons {
                width: auto;
                display: flex;
                flex-direction: row;
                column-gap: 60px;
                margin: auto;
                justify-content: center;
        
                &_button {
                    
                    &--notSelected {
                        @include FilterButton;
                    }
        
                    &--selected {
                        @include FilterButton;
                        background-color: $colorTwo;
                    }
        
                }
            }
        
            &_biosList {
                margin: 0 50px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                row-gap: 59px;

                &_item {
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &_img {
                        margin: auto;
                        width: 90%;
                        aspect-ratio: 1.3/1;
                        object-fit: cover;
                        filter: grayscale(100%);
                    }
                    &_name {
                        @include BoldType;
                        margin: 16px auto 0 auto;

                    }
                    &_role {
                        @include LightType;
                        margin: auto;
                    }
                }
            }
        }
    }

    &_bioSheetContainer {

        
            z-index: 1;
                position: fixed;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:rgba(0, 0, 0, 0.8);
                overflow-y: scroll;
        
            &_mainContainer {
                margin: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                column-gap: 0;
                background-color: $colorLightGrey;
                position: relative;
        
                &_image {
                    width: 665px;
                    height: 814px;
                    object-fit: cover;
                }
                &_texts {
                    padding: 300px 67px 67px 67px;
                    width: 100%;
        
                    &_name {
                        @include Title;
                        font-size: 98px;
                        text-transform: uppercase;
                        margin: 30px 0;
                    }
                    &_role {
                        font-family: 'MainFont_light';
                        font-weight: bold;
                        font-size: 18px;
                        margin-bottom: 54px;
                    }
                    &_bio {
                        @include TextBloc;
                    }
                }
            }
            &_button {
                
                    background: none;
                    border: none;
                    position: absolute;
                    top: 60px;
                    right: 60px;
                    &:hover {
                        cursor: pointer;
                    }
                &_icon {
                    color: $colorDarkGrey;
                    height: 2em;
                    position: fixed;
                    right: 65px;
                }
            }
        
        &--displayOn {
            display: flex;
        }
        &--displayOff {
            display: none;
        }
    }

    &_AA {
        margin: 0 auto;
        padding: 98px;
        display: flex;
        flex-direction: column;
        background-color: $colorFive;
        height: auto;
        

        &_title {
            width: 37%;
            margin: 0 auto 54px auto;
            @include Title;
            text-transform: uppercase;
            font-size: 54px;
        }

        &_text {
            width: 37%;
            margin: auto;
            @include TextBloc;
        }
    }

}