.compagnieSection {

    &_image {
        width: 50%;
    }

    &_biosList {
        display: flex;
        flex-direction: row;
    } 

    &_bioSheetContainer {
        
        &--displayOn {
            display: flex;
        }
        &--displayOff {
            display: none;
        }
    }
}