@import '../../utils/mixins';

.oneSpectacle {

    &_mainDatas {

        margin: 30px 50px;

        &_title {
            @include Title;
            margin: 0;
        }

        &_subtitle {
            font-family: 'MainFont_light';
            font-size: 30px;
            margin: 0;
        }
        
        &_description {
            @include TextBloc;
            margin: 30px auto;
        }
        &_duration {
            font-family: 'MainFont_lightItalic';
            font-size: 18px;
            margin: 10px 0;
        }
        &_creationDate {
            font-family: 'MainFont_light';
            font-size: 18px;
            margin: 10px 0;
        }
        &_teamList {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            &_prodListContainer {
                display: flex;
                flex-direction: column;
            }

            &_artistsList, &_prodList {
                width: 49%;
                text-decoration: none;
                padding: 0;
                display: flex;
                flex-direction: column;

                &_item {
                    display: flex;
                    flex-direction: row;
                    column-gap: 10px;
                    

                    &_function {
                        width: auto;
                        font-family: 'MainFont_bold';
                        text-align: justify;
                        font-size: 18px;
                        margin-right: 10px;
                    }
                    &_names {
                        font-family: 'MainFont_light';
                        text-align: justify;
                        font-size: 18px;
                        margin: 0; 
                    }
                }
            }
        }
    }

    &_imagesGrid {
        margin-top: 30px;
        width: 100%;
        display: grid;
        padding: 0;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr 1fr;
        
        //pour 6 images
        &_6 {
            &_item_0 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                height: 800px;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &_item_2 {
                height: 800px;
                grid-column-start: 3;
                grid-column-end: 4;
            }
            &_item_3 {
                height: 400px;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &_item_4 {
                height: 400px;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &_item_5 {
                height: 400px;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        //pour 5 images
        &_5 {
            &_item_0 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                height: 600px;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &_item_2 {
                height: 600px;
                grid-column-start: 3;
                grid-column-end: 4;
            }
            &_item_3 {
                height: 600px;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &_item_4 {
                height: 600px;
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }

        //pour 4 images
        &_4 {
            &_item_0 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                height: 800px;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &_item_2 {
                height: 800px;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &_item_3 {
                height: 800px;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        //pour 3 images
        &_3 {
            &_item_0 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                height: 800px;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &_item_2 {
                height: 800px;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        //pour 2 images
        &_2 {
            &_item_0 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }

        //pour 1 image
        &_2 {
            &_item_0 {
                height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }

        //pour 0 image
        &_0 {
            display: none;
        }

        &_item {
            width: auto;
            list-style-type: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &_residenciesDatasContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_residenciesList {
        width: 49%;
        display: flex;
        flex-direction: column;
        margin: 50px;

        &_labos, &_writing, &_creation, &_rehearsals, &_firstShows {

            &--displayOff {
                display: none;
            }

            display: flex;
            flex-direction: column;
            margin: 20px 0;


            &_title {
                font-family: 'MainFont_light';
                font-size: 36px;
                margin: 0 0 20px 0;
            }
            &_list {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;

                &_item {
                    list-style-type: none;

                    &_text {
                        font-family: 'MainFont_light';
                        color: $colorDarkGrey;
                        text-align: justify;
                        font-size: 18px;
                        margin: 0; 
                    }

                    &_dates {
                        width: auto;
                        font-family: 'MainFont_bold';
                        text-align: justify;
                        color: $colorDarkGrey;
                        font-size: 18px;
                        margin-right: 10px;
                    }

                    &_link, &_noLink {
                        font-family: 'MainFont_light';
                        text-align: justify;
                        font-size: 18px;
                        text-decoration: none;
                        color: $colorMediumGrey;
                        margin: 0;
                        padding-right: 10px;
                    }

                    &_link {

                        &_icon {
                            color: $colorDarkGrey;
                            font-size: 13px;
                            margin: 0;
                        }
                        &:hover {

                            cursor: pointer;
                            color: $colorHover;

    
                        }
                    }
                }
            }
        }
    }
}