@charset "UTF-8";
/*---------------
----- FONTS -----
---------------*/
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Light.ttf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-style: italic;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "MainFont_light";
  src: url("../../public/assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
@font-face {
  font-family: "SpecialFont_regular";
  src: url("../../public/assets/fonts/WarsawGothic/WarsawGothic.otf") format("truetype");
  font-display: block;
  /* Ajouter ici les autres formats de police (.woff2, .ttf, .eot, etc.) pour la compatibilité des navigateurs */
}
/*-------------------
----- KEYFRAMES -----
-------------------*/
@-webkit-keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageAppearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@-webkit-keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@keyframes openHeader {
  0% {
    height: 50px;
  }
  100% {
    height: 71px;
  }
}
@-webkit-keyframes openHeaderMobile {
  0% {
    height: 50px;
  }
  100% {
    height: 200px;
  }
}
@keyframes openHeaderMobile {
  0% {
    height: 50px;
  }
  100% {
    height: 200px;
  }
}
@-webkit-keyframes openHeaderMobileMax {
  0% {
    height: 50px;
  }
  100% {
    height: 150px;
  }
}
@keyframes openHeaderMobileMax {
  0% {
    height: 50px;
  }
  100% {
    height: 150px;
  }
}
@-webkit-keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeader {
  0% {
    height: 71px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes closeHeaderMobile {
  0% {
    height: 200px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeaderMobile {
  0% {
    height: 200px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes closeHeaderMobileMax {
  0% {
    height: 150px;
  }
  100% {
    height: 50px;
  }
}
@keyframes closeHeaderMobileMax {
  0% {
    height: 150px;
  }
  100% {
    height: 50px;
  }
}
@-webkit-keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}
@-webkit-keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
            animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }
  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
            animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }
  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
    display: flex;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
    display: flex;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    display: none;
  }
  50% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
@-webkit-keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@keyframes openCollapse {
  0% {
    height: 0;
    opacity: 0%;
  }
  100% {
    height: 100%;
    opacity: 100%;
  }
}
@-webkit-keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@keyframes closeCollapse {
  0% {
    height: 100%;
    opacity: 100%;
  }
  100% {
    height: 0;
    opacity: 0%;
  }
}
@-webkit-keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@keyframes moveDown {
  0% {
    padding-top: 0;
  }
  100% {
    padding-top: 19px;
  }
}
@-webkit-keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@keyframes reverseMoveDown {
  0% {
    padding-top: 19px;
  }
  100% {
    padding-top: 0;
  }
}
@-webkit-keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes focusShow {
  0% {
    zoom: 100%;
    overflow: hidden;
  }
  100% {
    zoom: 200%;
    overflow: hidden;
  }
}
@keyframes focusShow {
  0% {
    zoom: 100%;
    overflow: hidden;
  }
  100% {
    zoom: 200%;
    overflow: hidden;
  }
}
@-webkit-keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes closeCollapseArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes openCollapseArrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes openCollapseArrow {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@keyframes openCollapseChildren {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 2000px;
    opacity: 1;
  }
}
@-webkit-keyframes closeCollapseChildren {
  0% {
    max-height: 2000px;
    opacity: 1;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@keyframes closeCollapseChildren {
  0% {
    max-height: 2000px;
    opacity: 1;
  }
  50% {
    max-height: 2000px;
    opacity: 0;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
.oneSpectacle {
  -webkit-animation: pageAppearing 2s ease forwards;
          animation: pageAppearing 2s ease forwards;
}
.oneSpectacle_invisible {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "MainFont_light";
  width: 100%;
  margin: 180px auto;
}
.oneSpectacle_mainDatas {
  margin: 3px 0;
}
.oneSpectacle_mainDatas_title {
  font-family: "SpecialFont_regular";
  padding: 0 6%;
  box-sizing: border-box;
  filter: drop-shadow(5px 5px 1px #00f0ff) drop-shadow(-5px -5px 1px #ff00ff);
  font-size: 120px;
  margin: 0;
  text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_title {
    font-size: 81px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_title {
    font-size: 60px;
  }
}
.oneSpectacle_mainDatas_subtitle {
  padding: 0 6%;
  box-sizing: border-box;
  font-family: "MainFont_light";
  font-size: 30px;
  margin: 0 0 54px 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_subtitle {
    font-size: 22px;
    margin: 0 0 35px 0;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_subtitle {
    font-size: 19px;
    margin: 0 0 19px 0;
  }
}
.oneSpectacle_mainDatas_creationDate {
  padding: 0 6%;
  box-sizing: border-box;
  font-family: "MainFont_light";
  font-size: 18px;
  margin-bottom: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_creationDate {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_creationDate {
    font-size: 15px;
  }
}
.oneSpectacle_mainDatas_duration {
  padding: 0 6%;
  box-sizing: border-box;
  font-family: "MainFont_light";
  font-style: italic;
  font-size: 18px;
  margin-top: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_duration {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_duration {
    font-size: 15px;
  }
}
.oneSpectacle_mainDatas_description {
  padding: 73px 15%;
  box-sizing: border-box;
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
  margin: 54px auto;
  width: 100%;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_description {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_description {
    font-size: 14px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_description {
    padding: 0 6%;
    box-sizing: border-box;
    margin: 35px auto;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_description {
    padding: 0 6%;
    box-sizing: border-box;
    margin: 19px auto;
  }
}
.oneSpectacle_mainDatas_paragraphs {
  padding: 0 6%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 35px;
       column-gap: 35px;
  row-gap: 16px;
  width: 90%;
  margin: 54px auto 22px auto;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_paragraphs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_paragraphs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
}
.oneSpectacle_mainDatas_paragraphs_paragraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer {
    font-size: 14px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer {
    display: none;
  }
}
.oneSpectacle_mainDatas_paragraphs_paragraphContainer_paragraphTitle {
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
  text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer_paragraphTitle {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer_paragraphTitle {
    font-size: 14px;
  }
}
.oneSpectacle_mainDatas_paragraphs_paragraphContainer_paragraphText {
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
  margin-bottom: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer_paragraphText {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_paragraphs_paragraphContainer_paragraphText {
    font-size: 14px;
  }
}
.oneSpectacle_mainDatas_teamList {
  width: 100%;
  padding: 73px 0;
  background-color: #00f0ff;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_teamList {
    padding: 45px 0;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_teamList {
    padding: 22px 0;
  }
}
.oneSpectacle_mainDatas_teamList_artistsList {
  padding: 0 6%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  text-decoration: none;
}
.oneSpectacle_mainDatas_teamList_artistsList--displayOff {
  display: none;
}
.oneSpectacle_mainDatas_teamList_artistsList_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.oneSpectacle_mainDatas_teamList_artistsList_item_function {
  width: 30%;
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
  text-align: end;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_function {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_function {
    font-size: 13px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_function {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_function {
    width: 50%;
  }
}
.oneSpectacle_mainDatas_teamList_artistsList_item_names {
  width: 30%;
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: start;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_names {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_names {
    font-size: 13px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_names {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_teamList_artistsList_item_names {
    width: 50%;
  }
}
.oneSpectacle_mainDatas_mediaLinks {
  padding: 0 6%;
  box-sizing: border-box;
  margin: 98px 0;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 4px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_mediaLinks {
    margin: 45px auto;
    flex-direction: column;
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_mediaLinks {
    margin: 22px auto;
    flex-direction: column;
    padding: 0;
  }
}
.oneSpectacle_mainDatas_mediaLinks_videosContainer, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  flex-wrap: wrap;
  row-gap: 4px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_mediaLinks_videosContainer, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_mediaLinks_videosContainer, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer {
    flex-direction: column;
  }
}
.oneSpectacle_mainDatas_mediaLinks_videosContainer_video, .oneSpectacle_mainDatas_mediaLinks_videosContainer_pdf, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_video, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_pdf {
  padding: 10px;
  box-sizing: border-box;
  font-family: "SpecialFont_regular";
  font-size: 30px;
  width: 12em;
  text-transform: uppercase;
  color: #232323;
  text-decoration: none;
  border: none;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_mediaLinks_videosContainer_video, .oneSpectacle_mainDatas_mediaLinks_videosContainer_pdf, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_video, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_pdf {
    font-size: 22px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_mediaLinks_videosContainer_video, .oneSpectacle_mainDatas_mediaLinks_videosContainer_pdf, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_video, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_pdf {
    font-size: 16px;
  }
}
.oneSpectacle_mainDatas_mediaLinks_videosContainer_video, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_video {
  background-color: #ff00ff;
}
.oneSpectacle_mainDatas_mediaLinks_videosContainer_video:hover, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_video:hover {
  background-color: #fea201;
  color: #E9E9E9;
  cursor: pointer;
}
.oneSpectacle_mainDatas_mediaLinks_videosContainer_pdf, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_pdf {
  background-color: #00f0ff;
}
.oneSpectacle_mainDatas_mediaLinks_videosContainer_pdf:hover, .oneSpectacle_mainDatas_mediaLinks_pdfsContainer_pdf:hover {
  background-color: #00ff00;
  color: #E9E9E9;
  cursor: pointer;
}
.oneSpectacle_mainDatas_prodList {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  box-sizing: border-box;
  padding: 73px 0;
  margin: 35px auto;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_prodList {
    padding: 0;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_prodList {
    padding: 0;
  }
}
.oneSpectacle_mainDatas_prodList_prodTypeContainer {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_prodList_prodTypeContainer {
    width: 100%;
    padding: 0 6%;
    box-sizing: border-box;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_prodList_prodTypeContainer {
    width: 100%;
    padding: 0 6%;
    box-sizing: border-box;
    text-align: center;
  }
}
.oneSpectacle_mainDatas_prodList_prodTypeContainer_prodType {
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_prodList_prodTypeContainer_prodType {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_prodList_prodTypeContainer_prodType {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_prodList_prodTypeContainer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.oneSpectacle_mainDatas_prodList_prodTypeContainer_list_item {
  list-style-type: none;
}
.oneSpectacle_mainDatas_prodList_prodTypeContainer_list_item_name {
  margin: 0 auto;
  font-family: "MainFont_light";
  font-size: 16px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_prodList_prodTypeContainer_list_item_name {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_prodList_prodTypeContainer_list_item_name {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_press {
  height: auto;
  overflow: hidden;
  margin: 98px auto;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_press {
    margin: 45px auto;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_press {
    margin: 45px auto;
  }
}
.oneSpectacle_mainDatas_press_pressList {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_press_pressList {
    width: 100%;
    padding: 0 6%;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_press_pressList {
    width: 100%;
    padding: 0 6%;
    box-sizing: border-box;
  }
}
.oneSpectacle_mainDatas_press_pressList_title {
  font-family: "SpecialFont_regular";
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px auto;
}
.oneSpectacle_mainDatas_press_pressList_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  row-gap: 35px;
  padding: 0;
  margin: 0 auto 22px auto;
}
.oneSpectacle_mainDatas_press_pressList_list_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.oneSpectacle_mainDatas_press_pressList_list_item_mediaName {
  text-align: justify;
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
  margin: auto;
}
.oneSpectacle_mainDatas_press_pressList_list_item_quote {
  text-align: justify;
  font-style: italic;
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: justify;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_press_pressList_list_item_quote {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_press_pressList_list_item_quote {
    font-size: 14px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 45px;
       column-gap: 45px;
  padding: 73px 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList {
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList {
    flex-direction: column;
    text-align: center;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer {
  width: auto;
  display: flex;
  flex-direction: column;
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_title {
  font-family: "SpecialFont_regular";
  font-size: 30px;
  text-transform: uppercase;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_title {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_title {
    margin: 0 auto;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text {
  font-family: "MainFont_light";
  font-size: 16px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_date {
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_date {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_date {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_link {
  text-decoration: none;
  color: #232323;
  margin: 0;
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_link:hover {
  color: #00f0ff;
  cursor: pointer;
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_link_icon {
  margin-left: 9px;
  height: 10px;
  padding-bottom: 2px;
}
.oneSpectacle_mainDatas_residenciesAndShows_residenciesList_typeContainer_list_item_text_noLink {
  color: #232323;
  margin: 0;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList {
  background-color: #fea201;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  margin: auto;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList {
    padding: 20px 20px 40px 20px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList {
    padding: 20px 20px 40px 20px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_title {
  font-family: "SpecialFont_regular";
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px auto;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_title {
    margin: 30px auto;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_title {
    margin: 20px auto;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_listContainer {
  width: 100%;
  margin: auto;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  row-gap: 22px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list {
    row-gap: 19px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list {
    row-gap: 10px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item {
  width: 100%;
  margin: 0;
  font-family: "MainFont_light";
  font-size: 16px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin: 0;
  width: 100%;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate {
  width: 100%;
  text-align: right;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate_day {
  font-family: "MainFont_light";
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate_day {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate_day {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate_time {
  display: none;
  font-family: "MainFont_light";
  font-size: 16px;
  margin: 0;
}
@media only screen and (min-width: 481px) and (max-width: 991px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate_time {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  .oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_dates_singleDate_time {
    font-size: 13px;
  }
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_places {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_places_link {
  text-decoration: none;
  color: #232323;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_places_link_icon {
  height: 12px;
  margin: 0 0 2px 4px;
}
.oneSpectacle_mainDatas_residenciesAndShows_showsList_list_item_places_noLink {
  text-decoration: none;
  color: #232323;
  margin: 0;
}/*# sourceMappingURL=OneSpectacle.css.map */