@import '../../utils/mixins';

.oneSpectacle {
    animation: pageAppearing 2s ease forwards;

    &_invisible {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: 'MainFont_light';
        width: 100%;
        margin: 180px auto;
    }

    &_mainDatas {
        
        margin: 3px 0 ;
        

        &_title {
            @include Title;
            @include SidePaddings;
            @include DropColorFilter;
            font-size: 120px;
            margin: 0;
            text-transform: uppercase;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 81px;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 60px;
            } 
        }

        &_subtitle {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-size: 30px;
            margin: 0 0 54px 0;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 22px;
                margin: 0 0 35px 0;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 19px;
                margin: 0 0 19px 0;
            } 
        }

        &_moreInfos {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-size: 18px;
            margin: 0 0 29px 0;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 16px;
                // margin: 0 0 35px 0;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 15px;
                // margin: 0 0 19px 0;
            } 
        }

        &_creationDate {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-size: 18px;
            margin-bottom: 0;

            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 16px;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 15px;
            }
        }

        &_duration {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-style: italic;
            font-size: 18px;
            margin-top: 0;
            margin-bottom:25px;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                font-size: 16px;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 15px;
            }
        }
        
        &_description {
            padding: 73px 15%;
            box-sizing: border-box;
            @include TextBloc;
            margin: 54px auto;
            width: 100%;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                @include SidePaddings;
                margin: 35px auto;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                @include SidePaddings;
                margin: 19px auto;
            } 
        }

        &_paragraphs {
            @include SidePaddings;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 35px;
            row-gap: 16px;
            width: 90%;
            margin: 54px auto 22px auto;

            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                width: 100%;
            } 

            &_paragraphContainer {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                margin: 0 auto;
                @include TextBloc;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    display: none;
                    
                }

                &_paragraphTitle {
                    @include TextTitle;
                    text-transform: uppercase;
                    margin: 15px 0;
                };

                &_paragraphText {
                    @include TextBloc;
                    margin-bottom: 0;
                }
            }
        }

        &_teamList {
            width: 100%;
            padding: 73px 0; 
            background-color: $colorTwo;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                padding: 45px 0; 
            }
            @media only screen and (max-width:$mobileMaxWidth){
                padding: 22px 0; 
            } 
        
            &_artistsList {
                @include SidePaddings;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                width: 100%;
                text-decoration: none;

                &--displayOff {
                    display: none;
                }

                &_item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 10px;      

                    &_function {
                        width: 30%;
                        @include BoldType;
                        text-align: end;
                        margin: 0;
                        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                            width: 50%;
                        }
                        @media only screen and (max-width:$mobileMaxWidth){
                            width: 50%;
                        } 
                    }
                    &_names {
                        width: 30%;
                        @include LightType;
                        text-align: start;
                        margin: 0;
                        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                            width: 50%;
                        }
                        @media only screen and (max-width:$mobileMaxWidth){
                            width: 50%;
                        } 
                    }
                }
            }
        }

        &_mediaLinks {
            @include SidePaddings;
            margin: 98px 0;
            display: flex;
            flex-direction: column;
            column-gap: 10px;
            row-gap: 4px;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                margin: 45px auto;
                flex-direction: column;
                padding: 0;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                margin: 22px auto;
                flex-direction: column;
                padding: 0;
            } 

            &_videosContainer, &_pdfsContainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 4px;
                flex-wrap: wrap;
                row-gap: 4px;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    flex-direction: column;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    flex-direction: column;
                } 


                &_video, &_pdf {
                    @include ButtonType;
                }

                &_video {
                    background-color: $colorThree;
                    &:hover {
                        background-color: $colorFive;
                        color: $colorLightGrey;
                        cursor: pointer;
                    }
                };
                &_pdf {
                    background-color: $colorTwo;
                    &:hover {
                        background-color: $colorFour;
                        color: $colorLightGrey;
                        cursor: pointer;
                    }
                };
            }
            
        }

        &_prodList {
            display: flex;
            flex-direction: column;
            @include SidePaddings;
            padding: 73px 0;
            margin: 35px auto;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                padding: 0;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                padding: 0;
            } 
            
            
            &_prodTypeContainer {
                width: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    width: 100%;
                    @include SidePaddings;
                    text-align: center;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    width: 100%;
                    @include SidePaddings;
                    text-align: center;
                } 
                &_prodType {
                    @include BoldType;  
                }
                &_list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    
                    &_item {
                        list-style-type: none;
                        
                        &_name {
                            margin: 0 auto;
                            @include LightType;
                        }
                    } 
                }
            }
        }

        &_press {
            height: auto;
            overflow: hidden;
            margin: 98px auto;

            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                margin: 45px auto;
            }
            @media only screen and (max-width:$mobileMaxWidth){
                margin: 45px auto;
            } 
            
            &_pressList {
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: auto;

                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    width: 100%;
                    @include SidePaddings;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    width: 100%;
                    @include SidePaddings;
                } 
                
                &_title {
                    @include SecondTitle;
                    margin: 30px auto;
                }
                &_listContainer {
                    
                }
                &_list {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style-type: none;
                    row-gap: 35px;
                    padding: 0;
                    margin: 0 auto 22px auto;

                    &_item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        
                        &_mediaName {
                            text-align: justify;
                            font-family: 'MainFont_light';
                            font-weight: bold;
                            font-size: 16px;
                            margin: 22px auto;
                        }

                        &_quote {
                            text-align: justify;
                            font-style: italic;
                            @include TextBloc;
                        }
                    }
                }
            }
        }

        &_residenciesAndShows {
                display: flex;
                flex-direction: column;
                // @include SidePaddings;
                width: 100%;
            &_residenciesList {
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 45px;
                padding: 73px 0;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    flex-direction: column;
                    text-align: center;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    flex-direction: column;
                    text-align: center;
                } 
                &_typeContainer {
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    &_title {
                        margin-bottom: 8px;
                        @include SecondTitle;
                        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                            margin: 0 auto;
                        }
                        @media only screen and (max-width:$mobileMaxWidth){
                            margin: 0 auto;
                        }
                    }
                    &_list {
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        padding: 0;
                        
                        &_item {
                            
                            &_text {
                                
                                @include LightType;
                                
                                &_date {
                                    @include BoldType;  
                                }
                                &_link {
                                    text-decoration: none;
                                    color: $colorDarkGrey;
                                    margin: 0;
                                    &:hover {
                                        color: $colorTwo;
                                        cursor: pointer;
                                    }
                                    &_icon {
                                        margin-left: 9px;
                                        height: 10px;
                                        padding-bottom: 2px;
                                    }
                                    
                                }

                                &_noLink {
                                    color: $colorDarkGrey;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            &_showsList {
                background-color: $colorFive;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 40px;
                box-sizing: border-box;
                margin: auto;
                @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                    padding: 20px 20px 40px 20px;
                }
                @media only screen and (max-width:$mobileMaxWidth){
                    padding: 20px 20px 40px 20px;
                } 

                &_title {
                    @include SecondTitle;
                    margin: 30px auto;
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        margin: 30px auto;
                    }
                    @media only screen and (max-width:$mobileMaxWidth){
                        margin: 20px auto;
                    } 
                }
                &_listContainer {
                    width: 100%;
                    margin: auto;
                }
                &_list {
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    list-style-type: none;
                    padding: 0;
                    row-gap: 22px;
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        row-gap: 19px;
                    }
                    @media only screen and (max-width:$mobileMaxWidth){
                        row-gap: 10px;
                    }
                    
                    &_item {
                        width: 100%;
                        margin: 0;
                        @include LightType;
                        text-align: center;
                        justify-content: center;
                        display: flex;
                        flex-direction: row;
                        column-gap: 10px;
                        &_dates {
                            display: flex;
                            flex-direction: column;
                            column-gap: 5px;
                            margin: 0;
                            width: 100%;
    
                            &_singleDate {
                                width: 100%;
                                text-align: right;
                                justify-content: flex-end;
                                display: flex;
                                flex-direction: column;
                                column-gap: 5px;
                                

                                &_day {
                                    @include BoldType;
                                    margin: 0;
                                }
                                &_time {
                                    display: block;
                                    @include LightType;
                                    margin: 0;
                                    font-weight: regular;
                                }
                            }
                        }
                        &_places {
                            width: 100%;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            text-align: left;

                            &_link {
                                
                                text-decoration: none;
                                color: $colorDarkGrey;
                                
                                &_icon {
                                    height: 12px;
                                    margin: 0 0 2px 4px ;
                                }
                            }

                            &_noLink {
                                text-decoration: none;
                                color: $colorDarkGrey;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}