@import '../../utils/mixins';

.oneSpectacle {
    animation: pageAppearing 2s ease forwards;

    &_invisible {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-family: 'MainFont_light';
        width: 100%;
        margin: 180px auto;
    }
    &_mainDatas {

        margin: 3px 0 ;
        

        &_title {
            @include Title;
            @include SidePaddings;
            @include DropColorFilter;
            font-size: 200px;
            margin: 0;
            text-transform: uppercase;
        }

        &_subtitle {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-size: 30px;
            margin: 0 0 54px 0;
        }

        &_creationDate {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-size: 18px;
            margin-bottom: 0;
        }

        &_duration {
            @include SidePaddings;
            font-family: 'MainFont_light';
            font-style: italic;
            font-size: 18px;
            margin-top: 0;
        }
        
        &_description {
            padding: 73px 25%;
            box-sizing: border-box;
            @include TextBloc;
            margin: 54px auto;
            width: 100%;
        }

        &_paragraphs {
            @include SidePaddings;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 35px;
            row-gap: 16px;
            // flex-direction: row;
            // justify-content: space-between;
            // align-items: flex-start;
            // flex-wrap: wrap;
            width: 90%;
            margin: 54px auto 22px auto;

            &_paragraphContainer {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                margin: 0 auto;
                @include TextBloc;

                &_paragraphTitle {
                    @include TextTitle;
                    text-transform: uppercase;
                };

                &_paragraphText {
                    @include TextBloc;
                    margin-bottom: 0;
                }
            }
        }

        &_teamList {
            width: 100%;
            padding: 73px 0; 
            background-color: $colorTwo;
        
            &_artistsList {
                @include SidePaddings;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                width: 100%;
                text-decoration: none;

                &--displayOff {
                    display: none;
                }

                &_item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 10px;      

                    &_function {
                        width: 30%;
                        @include BoldType;
                        text-align: end;
                        margin: 0;
                    }
                    &_names {
                        width: 30%;
                        @include LightType;
                        text-align: start;
                        margin: 0;
                    }
                }
            }
        }

        &_mediaLinks {
            @include SidePaddings;
            margin: 98px 0;
            display: flex;
            flex-direction: column;
            column-gap: 10px;
            row-gap: 4px;

            &_videosContainer, &_pdfsContainer {
                display: flex;
                flex-direction: row;
                justify-content: center;
                column-gap: 4px;
                flex-wrap: wrap;
                row-gap: 4px;


                &_video, &_pdf {
                    @include ButtonType;
                }

                &_video {
                    background-color: $colorThree;
                    &:hover {
                        background-color: $colorFive;
                        color: $colorLightGrey;
                        cursor: pointer;
                    }
                };
                &_pdf {
                    background-color: $colorTwo;
                    &:hover {
                        background-color: $colorFour;
                        color: $colorLightGrey;
                        cursor: pointer;
                    }
                };
            }
            
        }

        &_prodList {
            display: flex;
            flex-direction: column;
            @include SidePaddings;
            padding: 73px 0;
            // background-color: $colorThree;
            
            &_prodTypeContainer {
                width: 50%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                &_prodType {
                    @include BoldType;  
                }
                &_list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    
                    &_item {
                        list-style-type: none;
                        
                        &_name {
                            margin: 0 auto;
                            @include LightType;
                        }
                    } 
                }
            }
        }

        &_press {
            height: auto;
            overflow: hidden;
            margin: 98px auto;
            &_pressList {
                
                display: flex;
                flex-direction: column;
                width: 70%;
                margin: auto;
                &_title {
                    @include SecondTitle;
                    margin: 30px auto;
                }
                &_listContainer {
                    
                }
                &_list {
                    
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style-type: none;
                    row-gap: 35px;
                    padding: 0;
                    margin: 0 auto 22px auto;

                    &_item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        &_mediaName {
                            text-align: justify;
                            font-family: 'MainFont_light';
                            font-weight: bold;
                            font-size: 16px;
                            margin: auto;
                        }

                        &_quote {
                            text-align: justify;
                            font-family: 'MainFont_light';
                            font-style: italic;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        &_residenciesAndShows {
                display: flex;
                flex-direction: column;
                // @include SidePaddings;
                width: 100%;
            &_residenciesList {
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: center;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 45px;
                padding: 73px 0;
                &_typeContainer {
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    &_title {
                        @include SecondTitle;
                    }
                    &_list {
                        display: flex;
                        flex-direction: column;
                        list-style-type: none;
                        padding: 0;
                        
                        &_item {
                            
                            &_text {
                                
                                @include LightType;
                                
                                &_date {
                                    @include BoldType;  
                                }
                                &_link {
                                    text-decoration: none;
                                    color: $colorDarkGrey;
                                    margin: 0;
                                    &:hover {
                                        color: $colorTwo;
                                        cursor: pointer;
                                    }
                                    &_icon {
                                        margin-left: 9px;
                                        height: 10px;
                                        padding-bottom: 2px;
                                    }
                                    
                                }

                                &_noLink {
                                    color: $colorDarkGrey;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
            &_showsList {
                background-color: $colorFive;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 40px;
                box-sizing: border-box;
                margin: auto;

                &_title {
                    @include SecondTitle;
                    margin: 30px auto;
                }
                &_listContainer {
                    width: 100%;
                    margin: auto;
                }
                &_list {
                    width: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    list-style-type: none;
                    padding: 0;
                    grid-gap: 22px;
                    
                    &_item {
                        width: 100%;
                        margin: 0;
                        @include LightType;
                        text-align: center;
                        justify-content: center;
                        display: flex;
                        flex-direction: row;
                        column-gap: 10px;
                        &_dates {
                            display: flex;
                            flex-direction: column;
                            column-gap: 5px;
                            margin: 0;
                            width: 50%;
    
                            &_singleDate {
                                width: 100%;
                                text-align: right;
                                justify-content: flex-end;
                                display: flex;
                                column-gap: 5px;

                                &_day {
                                    @include BoldType;
                                    margin: 0;
                                }
                                &_time {
                                    @include LightType;
                                    margin: 0;
                                }
                            }
                        }
                        &_places {
                            width: 50%;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            text-align: left;

                            &_link {
                                
                                text-decoration: none;
                                color: $colorDarkGrey;
                                
                                &_icon {
                                    height: 12px;
                                    margin: 0 0 2px 4px ;
                                }
                            }

                            &_noLink {
                                text-decoration: none;
                                color: $colorDarkGrey;
                                margin: 0;
                            }
            
                        }

                        
                        
                    }
                }
            }
        }
    }

    &_imagesGrid {
        margin: 30px 0 0 0;
        width: 100%;
        display: grid;
        padding: 0;
        grid-gap: 2px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 800px auto auto;

        &_parallaxContainer {
            position: relative;
            overflow: hidden;
        }

        &_parallax {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; /* Hauteur de l'image */
            background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la div */
            background-attachment: fixed; /* Fixe l'image pendant le défilement */
            z-index: 2;
        }
        
        //pour 6 images
        &_6 {
            
            &_item_0 {
                aspect-ratio: 2/1;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &_item_2 {
                width: 100%;
                height: 100%;
                overflow: hidden;
                grid-column-start: 3;
                grid-column-end: 4;
            }
            &_item_3 {
                overflow: hidden;
                aspect-ratio: 1.2/1;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &_item_4 {
                overflow: hidden;
                aspect-ratio: 1.2/1;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &_item_5 {
                overflow: hidden;
                aspect-ratio: 1.2/1;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        //pour 5 images
        &_5 {
            &_item_0 {
                aspect-ratio: 2/1;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &_item_2 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
            }
            &_item_3 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &_item_4 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }

        //pour 4 images
        &_4 {
            aspect-ratio: 3/1;
            grid-gap: 3px;
            &_item_0 {
                aspect-ratio: 2/1;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &_item_2 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &_item_3 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        //pour 3 images
        &_3 {
            grid-gap: 3px;
            &_item_0 {
                aspect-ratio: 2/1;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            &_item_2 {
                overflow: hidden;
                height: 100%;
                width: 100%;
                grid-column-start: 3;
                grid-column-end: 4;
            }
        }

        //pour 2 images
        &_2 {
            &_item_0 {
                aspect-ratio: 2/1;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            &_item_1 {
                aspect-ratio: 2/1;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }

        //pour 1 image
        &_1 {
            &_item_0 {
                aspect-ratio: 2/1;
                width: 100%;
                // height: 1000px;
                grid-column-start: 1;
                grid-column-end: 4;
            }
        }

        //pour 0 image
        &_0 {
            display: none;
        }

        &_item {
            list-style-type: none;

            img {
                
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}