@import '../../utils/mixins';



.home {
    animation: pageAppearing 4s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100vh;
    align-items: center;
    background: linear-gradient(-45deg, $colorFive, $colorLightGrey, $colorTwo);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    &_linkFake {
        width: auto;
        &:hover {
            h3, p {
            color: $colorThree;
        }
        }
    }

    &_title {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        
        img {
            width: 200px;
            margin: auto;
            animation: float 6s ease-in-out infinite;
            // filter: invert(100%);
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
               
            }
            @media only screen and (max-width:$mobileMaxWidth){
                width: 200px;
            }
        }
        &_text {
            font-family: 'MainFont_light';
            font-size: 17px;
            margin: auto;
            font-weight: bold;
            color: black;

            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            
            }   
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 17px;
            }      
        }
        @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
            
        }   
        @media only screen and (max-width:$mobileMaxWidth){
            margin: 15px 0;
        }      
        
    }

    &_nav {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin: 30px auto 0 auto;
       
    
        &_menu {
            display: flex;
            flex-direction: row;
            column-gap: 22px;
            flex-wrap: wrap;
            overflow: hidden;
            @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                column-gap: 13px;  
            }
            
            @media only screen and (max-width:$mobileMaxWidth){
                font-size: 17px;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                row-gap: 5px;
                height: auto;
  
            } 
            &_item {
                h2, p, button {
                    width: auto;
                    margin: auto;
                    color: black;
                    font-family: 'MainFont_light';
                    font-size: 22px;
                    font-weight: bold;
                    &:hover {
                        cursor: pointer;
                        color: $colorFive;
                    }
                    @media only screen and (min-width: $padMinWidth) and (max-width: $padMaxWidth){
                        font-size: 17px;
                        width: auto;
                    }
                    
                    @media only screen and (max-width:$mobileMaxWidth){
                        font-size: 17px;
                        width: 120px;
                        text-align: center;
                        
                    } 
                }
            }

            span {
                width: auto;
                margin: auto;
                color: black;
                font-family: 'MainFont_light';
                font-size: 22px;
                font-weight: bold;
            } 
        }

        &_socials {
            display: flex;
            flex-direction: row;
            column-gap: 22px;
            width: auto;
            border-radius: 50%;
            margin: auto;
            &_item {
                img {
                    width: 30px;
                }
                &:hover {
                    cursor: pointer;

                    @include colorDuo3;

                }
            }
        }
        
        &_item, a, button {
            display: flex;
            width: 100%;
            justify-content: center; 
            text-decoration: none;
            border: none;
            background: none;
            font-family: 'MainFont_light';
        }

        

        a img {
            // filter: invert(100%);
            margin-bottom: 20px;
        }
    }
}